<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <section class="container col-12">
        <div class="card col-12 mx-auto">
                <br>
                  <h3 >My Family</h3>
                  <h5>Entrar</h5>
                  <div class="card-body">
                      <form class="form-row form">
                          <div class="form-group col-md-10">
                            <input type="email" class="form-control" required placeholder="E-mail">
                          </div>
                      </form>
                      <form class="form-row form">
                          <div class="form-group col-md-10">
                              <input type="password" class="form-control" required placeholder="Senha">
                            </div>
                      </form>

                           <div class="form-check ">
                            <button class="nav-link btnLogin ">Login</button>
                            <input type="checkbox">
                            <label style="color:white;"> Lembre-se de mim</label>
                            <a class="ajuda" href="/">Precisa de ajuda?</a>
                          </div>

                          <a class="nova" href="/cadastro">Família nova? <strong>Cadastre-se agora</strong></a>
                  </div>
                </div>

            </section>

              <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
              <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
